<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This gives you the powers of Numbers</h1>
            <p>Exam Section 2</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>